@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("../assets/fonts/JetBrains Mono Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  padding: 0 0.1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 1fr;
      grid-template-columns: 220px 1fr;
  -ms-grid-rows: 65px max-content;
      grid-template-rows: 65px -webkit-max-content;
      grid-template-rows: 65px max-content;
  gap: 5px 5px;
  justify-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

@media (max-width: 1200px) {
  body {
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
  }
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  position: fixed;
  height: 65px;
  width: calc(100% - 0.1rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 1fr 30px 60px;
      grid-template-columns: 33% 1fr 30px 60px;
  -ms-grid-rows: 65px;
      grid-template-rows: 65px;
  gap: 1px 1px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #deddff;
  text-align: center;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 255, 0.2);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 255, 0.2);
  z-index: 999;
}

aside {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  background: #c7c6e5;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
  height: calc(98vh - 65px);
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  justify-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

@media (max-width: 1200px) {
  aside {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
}

main {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 100%;
  height: calc(100vh - 65px - 20px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  gap: 5px 5px;
  justify-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  overflow: auto;
  padding: 0 0.3rem;
}

main::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

main .categories {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[100];
      grid-template-columns: repeat(100, -webkit-max-content);
      grid-template-columns: repeat(100, max-content);
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  gap: 0px 0.85rem;
  overflow: auto;
}

main .categories::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

main .carousel {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 100%;
  height: 380px;
  padding-top: 2rem;
  display: block;
}

main .video {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 350px);
  gap: 20px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main footer {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  margin: 1rem;
}

.logo {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: left;
  padding-left: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.logo a {
  display: block;
  width: 100%;
  color: #ff9100;
  font-family: "JetBrains Mono Regular", Consolas, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.search {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
}

.search input[type=text] {
  float: left;
  width: 45%;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: none;
  font-size: 0.7rem;
  font-weight: bold;
  color: #888;
}

.search input[type=text]:focus {
  border: 2px solid #b1b0cc;
}

.search .btn-search {
  display: inline;
  float: left;
  width: 6%;
  min-width: 27px;
  height: 30px;
  padding: 0.4rem;
  background: rgba(221, 221, 221, 0.5);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #cccccc;
  border-radius: 0 0.25rem 0.25rem 0;
}

.search .btn-search:hover {
  background: #b1b0cc;
}

.search .btn-microphone {
  display: inline;
  float: left;
  width: 6%;
  min-width: 27px;
  height: 30px;
  padding-left: 0.55rem;
  cursor: pointer;
  border: none;
  background: none;
  color: rgba(127, 127, 127, 0.7);
  font-size: 1.3rem;
}

.search .btn-microphone:hover {
  color: #494949;
}

.notify {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  color: rgba(127, 127, 127, 0.7);
}

.notify:hover {
  color: #494949;
  cursor: pointer;
}

.profile {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 0.9rem;
  background: #ff9100;
}

.profile .icon {
  margin: 30% auto;
}

.dropdown {
  position: relative;
}

.dropdown:hover .profile {
  background: #c7c6e5;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  left: -110px;
  background-color: #ffffff;
  min-width: 150px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.dropdown-content a {
  font-size: 0.9rem;
  font-family: Arial, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: left;
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #deddff;
}

.dropdown-content a:last-child {
  border-top: 1px solid #c8c8c8;
  color: red;
}

.pulse {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #cc2c2c;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
          box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.streamers {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.streamer-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  -ms-grid-rows: 55px;
      grid-template-rows: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.7rem 0 0.7rem;
  height: 55px;
}

@media (max-width: 1200px) {
  .streamer-card {
    -ms-grid-columns: 50px;
        grid-template-columns: 50px;
  }
}

.streamer-card .streamer-info {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-align: start;
      justify-self: start;
  width: 70%;
}

.streamer-card .streamer-info .streamer-avatar {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #fff;
}

.streamer-card .streamer-info .streamer-name {
  display: inline-block;
  width: calc(90% -  30px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.streamer-card .streamer-info .streamer-name:hover {
  color: #4f49ff;
}

@media (max-width: 1200px) {
  .streamer-card .streamer-info .streamer-name {
    display: none;
  }
}

.streamer-card .streamer-viewers {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.streamer-card .streamer-viewers .streamer-pulse {
  display: inline-block;
}

.streamer-card .streamer-viewers .streamer-viewers {
  display: inline-block;
}

@media (max-width: 1200px) {
  .streamer-card .streamer-viewers {
    display: none;
  }
}

.streamer-card:hover {
  background: #b1b0cc;
  cursor: pointer;
}

.info-bar {
  text-align: center;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  padding: 5%;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  font-weight: bolder;
  line-height: 1.35rem;
  border-top: 1px solid white;
}

@media (max-width: 1200px) {
  .info-bar {
    display: none;
  }
}

.info-bar .info {
  background: gainsboro;
  border: 0px solid;
  border-radius: 0.5rem;
  padding: 5%;
}

.info-bar .info p::-moz-selection {
  color: #fff;
  background: #ff9100;
}

.info-bar .info p::selection {
  color: #fff;
  background: #ff9100;
}

.info-bar .info .icon-social {
  display: inline-block;
  font-size: 1.3rem;
  color: #000;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.info-bar .info .twitter:hover {
  color: #1da1f2;
}

.info-bar .info .instagram:hover {
  color: #833ab4;
}

.info-bar .info .facebook:hover {
  color: #3b5998;
}

.category {
  display: block;
  border: 1px solid #b4b4b4;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  background: #deddff;
  color: #000;
  font-size: 0.8rem;
  font-weight: 600;
}

.category:first-child {
  background: #ff9100;
  color: #fff;
  border: 1px solid #ff9100;
}

.category:hover {
  background: #b1b0cc;
}

.slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: 15px 1fr 15px;
      grid-template-rows: 15px 1fr 15px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.slide .slide-fader {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  position: relative;
  height: 250px;
  width: 100%;
  background: #000;
}

.slide .slide-fader .slide-fader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.slide .slide-fader img {
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.slide .slide-fader img:hover {
  opacity: 0.5;
}

.slide .slide-fader:hover .slide-fader-icon {
  opacity: 1;
}

.slide img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 100%;
  height: 250px;
}

.slide .slide-live {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  -ms-grid-column-align: start;
      justify-self: start;
  margin: 0.25rem;
  padding: 0.25rem;
  background: #ff0000;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bolder;
  z-index: 2;
}

.slide .slide-info {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0.25rem;
  padding: 0.25rem;
  background: #333333b6;
  color: #fff;
  font-size: 0.8rem;
  z-index: 2;
}

.slide .slide-summary {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  background: #c7c6e5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 15px 15px 15px 15px 1fr;
      grid-template-rows: 15px 15px 15px 15px 1fr;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.slide .slide-summary .slide-avatar {
  display: block;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
}

.slide .slide-summary .slide-title {
  display: block;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  font-size: 0.8rem;
  font-weight: bold;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.slide .slide-summary .slide-name {
  display: block;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(50, 50, 50, 0.9);
}

.slide .slide-summary .slide-desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  padding: 0.5rem;
  padding-top: 1.2rem;
  font-size: 0.8rem;
  color: rgba(50, 50, 50, 0.9);
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
}

.slide .slide-summary .slide-desc::-moz-selection {
  color: #fff;
  background: #ff9100;
}

.slide .slide-summary .slide-desc::selection {
  color: #fff;
  background: #ff9100;
}

.carousel {
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.carousel input[type=radio] {
  display: none;
}

.carousel label {
  display: block;
  margin: auto;
  width: 500px;
  height: 250px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(-30%, 0, -200px);
          transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-15%, 0, -100px);
          transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(15%, 0, -100px);
          transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(30%, 0, -200px);
          transform: translate3d(30%, 0, -200px);
}

.video-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 110px;
      grid-template-columns: 40px 1fr 110px;
  -ms-grid-rows: 20px 140px 20px 40px;
      grid-template-rows: 20px 140px 20px 40px;
  width: 350px;
  height: 220px;
  background: #deddff;
}

.video-live {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  -ms-grid-column-align: start;
      justify-self: start;
  margin: 0.25rem;
  padding: 0.25rem;
  background: #ff0000;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bolder;
  z-index: 2;
}

.video-live:hover {
  cursor: pointer;
}

.video-info {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0.25rem;
  padding: 0.25rem;
  background: #333333b6;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  z-index: 2;
}

.video-info:hover {
  cursor: pointer;
}

.video-fader {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
}

.video-fader:hover img {
  opacity: 0.5;
}

.video-fader:hover .video-play-icon {
  opacity: 1;
}

.video-fader .video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  cursor: pointer;
  z-index: 9;
}

.video-fader img {
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.video-summary {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 20px;
      grid-template-columns: 40px 1fr 20px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 3px 10px;
}

.video-summary .video-avatar {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 27px;
  height: 27px;
  background: #fff;
  border-radius: 50%;
}

.video-summary .video-title {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 0.9rem;
  font-weight: bold;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-summary .video-name {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(50, 50, 50, 0.6);
}

.video-summary .video-options {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "JetBrains Mono Regular", Consolas, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: #000;
}

body {
  background: #deddff;
}

.hide {
  display: none;
}

.highlight:hover {
  color: #4f49ff;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */