.pulse
    display: inline-block
    width: 9px
    height: 9px
    border-radius: 50%
    background: #cc2c2c
    transform: scale(1)
    cursor: pointer
    box-shadow: 0 0 0 rgba(204,169,44, 0.4)
    animation: pulse 1.5s infinite


@keyframes pulse 
    0%
        transform: scale(0.95)
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4)
    70%
        transform: scale(0.95)
        box-shadow: 0 0 0 10px rgba(204,169,44, 0)
    100%
        transform: scale(0.95)
        box-shadow: 0 0 0 0 rgba(204,169,44, 0)