.logo
    grid-column: 1
    width: 100%
    justify-self: start
    text-align: left
    padding-left: 0.7rem
    overflow: hidden
    white-space: nowrap
    text-overflow: clip
    a
        display: block
        width: 100%
        color: $logo-color
        font-family: $logo-font
        font-size: 1.8rem
        font-weight: bold

.search
    grid-column: 2
    width: 100%
    input[type=text]
        float: left
        width: 45%
        height: 30px
        border: 1px solid #cccccc
        border-radius: 0.25rem 0 0 0.25rem
        border-right: none
        font-size: 0.7rem
        font-weight: bold
        color: #888
        &:focus
            border: 2px solid $hover-color

    .btn-search
        display: inline
        float: left
        width: 6%
        min-width: 27px
        height: 30px
        padding: 0.4rem
        background: rgba(221, 221, 221, 0.5)
        cursor: pointer
        font-size: 0.8rem
        font-weight: bold
        border: 1px solid #cccccc
        border-radius: 0 0.25rem 0.25rem 0
        &:hover
            background: $hover-color

    .btn-microphone
        display: inline
        float: left
        width: 6%
        min-width: 27px
        height: 30px
        padding-left: 0.55rem
        cursor: pointer
        border: none
        background: none
        color: rgba(127, 127, 127, 0.7)
        font-size: 1.3rem
        &:hover
            color: #494949

.notify
    grid-column: 3
    justify-self: center
    font-size: 1.5rem
    color: rgba(127, 127, 127, 0.7)
    &:hover
        color: #494949
        cursor: pointer

.profile
    grid-column: 4
    justify-self: center
    height: 35px
    width: 35px
    border-radius: 50%
    font-size: 0.9rem
    background: $logo-color
    .icon
        margin: 30% auto  


.dropdown
    position: relative
    &:hover
        .profile
            background: $aside-color
            cursor: pointer
        .dropdown-content
            display: block
            
.dropdown-content 
    display: none
    position: absolute
    top: 35px
    left: -110px
    background-color: #ffffff
    min-width: 150px
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 99
    a
        font-size: 0.9rem
        font-family: $menu-font
        color: black
        text-align: left
        padding: 0.6rem 1rem
        text-decoration: none
        display: block
        &:hover
            background: $bg-color
        &:last-child
            border-top: 1px solid rgba(200, 200, 200, 1)
            color: red
