body
    padding: 0 $body-padding 
    display: grid
    grid-template-columns: 220px 1fr
    grid-template-rows: $header-height max-content
    gap: 5px 5px
    justify-items: center
    justify-content: stretch
    @media (max-width: 1200px)
        grid-template-columns: 50px 1fr


header
    grid-column: 1 / span 2
    grid-row: 1
    position: fixed
    height: $header-height
    width: calc(100% - #{$body-padding}) 
    display: grid
    grid-template-columns: 33% 1fr 30px 60px
    grid-template-rows: $header-height
    gap: 1px 1px
    justify-items: center
    align-items: center 
    justify-content: center
    align-content: center 
    background: $bg-color
    text-align: center
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 255, .2)
    z-index: 999


aside
    grid-column: 1
    grid-row: 2
    background: $aside-color
    justify-self: stretch
    width: 100%
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 75% 25%
    height: calc(98vh - #{$header-height})
    justify-content: stretch
    justify-items: stretch
    align-content: stretch
    @media (max-width: 1200px)
        grid-template-rows: 100%
    
main
    grid-column: 2
    grid-row: 2
    width: 100%
    height: calc(100vh - #{$header-height} - 20px)
    display: grid
    grid-template-columns: 100%
    grid-template-rows: repeat(4, auto)
    gap: 5px 5px
    justify-items: center
    justify-content: stretch
    overflow: auto
    padding: 0 0.3rem
    &::-webkit-scrollbar 
        width: 0px
        height: 0px
    .categories
        grid-column: 1
        grid-row: 1
        width: 100%
        display: grid
        grid-template-columns: repeat(100, max-content)
        align-content: stretch
        justify-content: stretch
        align-items: center
        height: $streamer-height
        gap: 0px 0.85rem
        overflow: auto 
        &::-webkit-scrollbar 
            width: 0px
            height: 0px

    .carousel
        grid-column: 1
        grid-row: 2
        width: 100%
        height: 380px
        padding-top: 2rem
        display: block      
    .video
        grid-column: 1
        grid-row: 3
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, 350px)
        gap: 20px 20px
        justify-content: center        
    footer
        grid-column: 1
        grid-row: 4
        width: 100%
        font-size: 0.9rem
        font-weight: bold
        text-align: center
        align-self: self-end
        margin: 1rem        

