.category
    display: block
    border: 1px solid rgba(180, 180, 180, 1)
    border-radius: 1rem
    padding: 0.5rem 0.75rem
    background: $bg-color
    color: $default-font-color
    font-size: 0.8rem
    font-weight: 600
    &:first-child
        background: $logo-color
        color: #fff
        border: 1px solid $logo-color
    &:hover
        background: $hover-color


