.video-card
    display: grid
    grid-template-columns: 40px 1fr 110px
    grid-template-rows: 20px 140px 20px 40px
    width: 350px
    height: 220px
    background: $bg-color

  
.video-live
    grid-column: 1
    grid-row: 1
    align-self: self-start
    justify-self: start
    margin: 0.25rem
    padding: 0.25rem
    background: #ff0000
    color: #fff
    font-size: 0.8rem
    font-weight: bolder
    z-index: 2
    &:hover
        cursor: pointer  


.video-info
    grid-column: 3
    grid-row: 3
    align-self: self-end
    justify-self: end
    margin: 0.25rem
    padding: 0.25rem
    background: #333333b6
    color: #fff
    font-size: 0.7rem
    text-align: center
    z-index: 2
    &:hover
        cursor: pointer 


.video-fader
    grid-column: 1 / 4
    grid-row: 1 / 4
    position: relative
    height: 100%
    width: 100%
    background: #000
    &:hover
        img
            opacity: 0.5 
        .video-play-icon
            opacity: 1  
    .video-play-icon
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 2rem
        color: #fff
        opacity: 0
        transition: opacity 0.4s ease
        cursor: pointer
        z-index: 9
    img
        height: 100%
        width: 100%
        transition: opacity 0.4s ease


.video-summary
    grid-column: 1 / 4
    grid-row: 4 / 5
    display: grid
    grid-template-columns: 40px 1fr 20px
    grid-template-rows: 1fr 1fr
    gap: 3px 10px
    .video-avatar
        grid-column: 1
        grid-row: 1 / 3 
        justify-self: center
        align-self: center
        width: 27px
        height: 27px
        background: #fff
        border-radius: 50%
    .video-title
        grid-column: 2
        grid-row: 1
        font-size: 0.9rem
        font-weight: bold
        align-self: self-end
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis        
    .video-name
        grid-column: 2
        grid-row: 2
        font-size: 0.7rem
        font-weight: bold
        color: rgba(50, 50, 50, 0.6)
    .video-options
        grid-column: 3
        grid-row: 1 / 3  
        align-self: center
        cursor: pointer     

    
