.streamers
    grid-column: 1
    grid-row: 1
    overflow-y: auto
::-webkit-scrollbar 
    width: 0px
    height: 0px

  
.streamer-card
    display: grid
    grid-template-columns: 65% 35%
    grid-template-rows: $streamer-height
    align-items: center
    padding: 0 0.7rem 0 0.7rem
    height: $streamer-height
    @media (max-width: 1200px)
        grid-template-columns: 50px
    .streamer-info
        grid-column: 1
        justify-self: start
        width: 70%  
        .streamer-avatar
            display: inline-block
            height: 25px
            width: 25px
            border-radius: 50%
            background: #fff
        .streamer-name
            display: inline-block 
            width: calc(90% -  30px)                 
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            &:hover
                color: $font-hover-color
            @media (max-width: 1200px)
                display: none    
    .streamer-viewers
        grid-column: 2
        justify-self: end
        .streamer-pulse
            display: inline-block
        .streamer-viewers
            display: inline-block
        @media (max-width: 1200px)
            display: none
    &:hover
        background: $hover-color
        cursor: pointer      


.info-bar
    text-align: center
    grid-column: 1
    grid-row: 2
    align-self: self-end
    padding: 5%
    color: rgba(0, 0, 0, 0.8)
    font-size: 0.9rem
    font-weight: bolder
    line-height: 1.35rem
    border-top: 1px solid rgba(255, 255, 255, 1)
    @media (max-width: 1200px)
        display: none
    .info
        background: rgba(220, 220, 220, 1)
        border: 0px solid
        border-radius: 0.5rem
        padding: 5%   
        p
            &::selection
                color: #fff
                background: $logo-color
        .icon-social
            display: inline-block
            font-size: 1.3rem
            color: $default-font-color
            margin-top: 0.5rem
            padding: 0.5rem
        .twitter
            &:hover
                color: #1da1f2
        .instagram
            &:hover
                color: #833ab4
        .facebook
            &:hover
                color: #3b5998

