.slide
    display: grid
    grid-template-columns: 75% 25%
    grid-template-rows: 15px 1fr 15px
    justify-content: stretch
    .slide-fader
        grid-column: 1 / 2
        grid-row: 1 / 4
        position: relative
        height: 250px
        width: 100%
        background: #000
        .slide-fader-icon
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            font-size: 2rem
            color: #fff
            opacity: 0
            transition: opacity 0.4s ease
        img
            height: 100%
            width: 100%
            transition: opacity 0.4s ease
            &:hover
                opacity: 0.5 
        &:hover 
            .slide-fader-icon
                opacity: 1 


.slide
    img
        grid-column: 1
        grid-row: 1 / 4
        width: 100%
        height: 250px
    .slide-live
        grid-column: 1
        grid-row: 1
        align-self: self-start
        justify-self: start
        margin: 0.25rem
        padding: 0.25rem
        background: #ff0000
        color: #fff
        font-size: 0.8rem
        font-weight: bolder
        z-index: 2     
    .slide-info
        grid-column: 1
        grid-row: 3
        align-self: self-end
        justify-self: end
        margin: 0.25rem
        padding: 0.25rem
        background: #333333b6
        color: #fff
        font-size: 0.8rem
        z-index: 2

    
.slide
    .slide-summary
        grid-column: 2 / 3
        grid-row: 1 / 5
        align-self: stretch
        justify-self: stretch
        background: $aside-color
        display: grid
        grid-template-columns: 30% 70%
        grid-template-rows: 15px 15px 15px 15px 1fr
        justify-content: stretch
        align-items: stretch
        .slide-avatar
            display: block
            grid-column: 1
            grid-row: 2 / 4
            justify-self: center
            align-self: center
            width: 30px
            height: 30px
            border-radius: 50%
            background: #fff
        .slide-title
            display: block
            grid-column: 2
            grid-row: 2 
            align-self: self-start
            font-size: 0.8rem
            font-weight: bold
            padding-right: 0.3rem
            padding-bottom: 0.3rem
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
        .slide-name
            display: block
            grid-column: 2
            grid-row: 3 
            align-self: self-end
            font-size: 0.7rem 
            font-weight: bold
            color: rgba(50, 50, 50, 0.9)     
        .slide-desc
            grid-column: 1 / 3
            grid-row: 4 / 5
            padding: 0.5rem
            padding-top: 1.2rem
            font-size: 0.8rem
            color: rgba(50, 50, 50, 0.9)
            font-weight: bold
            line-height: 1.2rem
            text-align: center
            &::selection
                color: #fff
                background: $logo-color            

    

