@import 'fonts'
@import "variables"
@import "layout"
@import "header"
@import "animations"
@import "sidebar"
@import "main_category"
@import "slide"
@import "main_carousel"
@import "main_video"


*
    box-sizing: border-box
    text-decoration: none

html
    font-family: $default-font
    font-size: $default-font-size
    color: $default-font-color

body
    background: $bg-color

.hide
    display: none


.highlight
    &:hover
        color: $font-hover-color
        cursor: pointer

